accelerate==1.8.0
bitsandbytes==0.46.0
datasets==3.6.0
huggingface_hub==0.32.2
lpips==0.1.4
numpy==1.23.0
packaging==21.3
Pillow==11.2.1
taming_transformers==0.0.1
torch==2.3.0
torchvision==0.18.0
tqdm==4.67.1
transformers==4.52.4
wandb==0.20.1
xformers==0.0.26.post1
diffusers==0.33.1
torch-dct==0.1.6